html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    color: #333;
}
.btn{
    text-decoration: none;
    background: white;
    color: #0f172a;
    padding: 12px 24px;
    border-radius:8px;
    font-weight: bold;
}
section{
    padding: 80px 10%;
}
.card{
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card{
    transition: all 0.3s ease;
}
.card:hover{
    transform: translateY(-8);
}
/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #0f172a;
    z-index: 1000;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}
/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 10%;
    gap: 50px;
    background: linear-gradient(135deg,#1e293b,#0f172a);
    color: white;
}
.hero-content{
    max-width: 700px;
    text-align: left;
}
 
.hero h1{
    font-size: 4rem;
}

.hero h2{
    margin: 15px 0;
}

.hero p{
    margin-bottom: 25px;
    line-height: 1.7;
}
.hero-text{
    flex: 1;
}
.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}
.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}
.buttons{
    margin-top: 25px;
}
.btn{
    margin-right: 10px;
}
.btn-outline{
    background: transparent;
    color: white;
    border: 2px solid white;
}
/* SKILL */
.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.skill{
    background: #0f172a;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
@media (max-width: 768px){
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
    }
    .navbar{
        flex-direction: column;
        gap: 15px;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .profile-img{
        width: 180px;
        height: 180px;
    }
}
